

  .title {
    background-color: #c5cae9;
    padding: 25px 25px;
    display: flex;
    justify-content: center;
  }
    
  .title-inner {
    max-width: 760px;
  }
  

  .title h1 {
    font-weight: normal;
    font-size: 2.2rem;
    margin: 0;
  }
  

.features {
    background-color: #e8eaf6;
    padding: 50px 45px;

  }
  
  .features-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;

  }
  
   .features-item{
    border-radius: 20px;
    max-width: 700px;
    margin: 0 auto;
    background-color: rgb(166, 133, 186);
    padding: 20px 60px;
    box-shadow: 0 30px 60px -12px rgb(50 50 93 / 25%), 0 18px 36px -18px rgb(0 0 0 / 30%), 0 -12px 36px -8px rgb(0 0 0 / 3%);

   }
  .features-item h3 {
    color: #886209;
    font-size: 1.8rem;
    font-weight: normal;
    margin: 0;
    line-height: 2.5;
    
  }
  
  .features-item p {
    margin: 0;
    line-height: 1.6;
    font-size: 1.2rem;
    color: black;
    padding-bottom: 30px;
    }
  